:root{
  --bg-green: #419688;
  --bg-gray: #D6DBD7;
  --strut-gray: #EAEAEA;
  --buttons-gray: #6B7478;
  --banner-bg:#8EDAFC;
  --search-bg:#F7F7F7;
}
/* 
.debug{
  background-color: rgba(0, 128, 0, 0.2);
  border: 1px solid black;
} */

body{
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(
    var(--bg-green) 0%,
    var(--bg-green) 15%,
    var(--bg-gray) 15%,
    var(--bg-gray) 100%
  );
}

.lf-container{
  max-width: 1000px;
  height: calc(100% - 40px);
  margin: 20px auto;
}

.aside{
  width: 30%;
  height: 100%;
}

.content{
  width: 70%;
  height: 100%;
}

.default-bar{
  height: 70px;
  width: 100%;
  background-color: var(--strut-gray);
  border: 1px solid lightgray;
  border-collapse: collapse;
  padding: 10px;
}

.default-bar.banner{
  background-color: var(--banner-bg);
  border: none;
}

.search-bar{
  height: 50px;
  width: 100%;
  background-color: var(--search-bg);
}

.search-bar input,
.search-bar button{
  border: 1px solid var(--strut-gray);
  border-collapse: collapse;
  /* FIXME: capire perché border collapse non funziona */
}

.search-bar button {
  width: 20%;
  background-color: white;
}

.search-bar input{
  width: 80%;
}

.search-bar input:focus{
  outline: none;
}

.users-list {
  width: 100%;
  height: calc(100% - 190px); 
  /* 2x info bara - 70px e 50 px di search-bar */
  background-color: white;
  overflow-y: scroll;
}

.user-card{
  height: 80px;
  padding: 10px;
  border-top: 1px solid lightgray;
}

.user-img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.user-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-info {
  width: calc(100% - 50px);
  height: 100%;
}
.user-info .user-name{
  width: 80%;
  font-size: 1rem;
  font-weight: bold;
}

.user-info .last-date{
  width:  20%;
}

.user-info .last-message{
  width:  100%;
}
.user-info .last-date,
.user-info .last-message{
  font-size: 0.8rem;
  font-weight: lighter;
}
.messages-container{
  width: 100%;
  height: calc(100% - 140px);
  background-image: url(/img/mine.jpg);
  overflow-y: scroll;
}