<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.css" integrity="sha512-KOWhIs2d8WrPgR4lTaFgxI35LLOp5PRki/DxQvb7mlP29YZ5iJ5v8tiLWF7JLk5nDBlgPP1gHzw96cZ77oD7zQ==" crossorigin="anonymous"/>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <link rel="stylesheet" href="css/style.css">
  <title>Boolzap</title>
</head>
<body>
  <div class="lf-container d-flex debug" id="app">
    <div class="aside debug">
      <div class="default-bar d-flex  debug">
        <div class="img-frame">
          <img src="img/avatar_1.jpg" alt="">
        </div>
        <div class="user-info d-flex justify-content-between align-items-center  ms-3 debug">
          <div class="name">Giulio Bianchi</div>
          <div class="buttons">
            <span class="ms-2"><i class="fa-solid fa-circle-notch"></i></span>
            <span class="ms-2"><i class="fa-solid fa-message"></i></span>
            <span class="ms-2"><i class="fa-solid fa-ellipsis-vertical"></i></span>
          </div>
        </div>
      </div>
      <div class="default-bar banner d-flex debug">
        <div class="img-frame banner">
          <i class="fa-solid fa-bell-slash"></i>
        </div>
        <div class="text">
          <div class="ms-3 ">Ricevi notifiche di nuovi messaggi</div>
          <div class="ms-3 text-decoration-underline cta">Attiva notifiche desktop</div>
        </div>
      </div>
      <div class="search-bar d-flex align-items-center debug">
        <button class="buttons">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
        <input
          type="text"
          placeholder="Cerca"
          v-model="searchString"
          @keyup.enter="searchName()">
      </div>
      <div class="users-list">
        <div
          v-for="(contact,index) in contactsToPrint"
          @click="selectContact(index)"
          class="user-card d-flex "
          :class= " {'active' : contact.visible }"
          >
          <div class="img-frame flex-shrink-0 ">
            <img :src = "contact.avatar" :alt="contact.avatar">
          </div>
          <div class="user-info ms-3 ">
            <span class="user-name">{{contact.name}}</span>
            <span class="last-date float-end">12,00</span>
            <div class="last-message">
              {{contact.messages[contact.messages.length - 1].message}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      v-if="counter === null"
      class="content empty d-flex justify-content-center align-items-center flex-column">
      <i class="fa-solid fa-comments"></i>
      <h1 class="fw-bold ">Seleziona una chat</h1>
    </div>
    <div v-else class="content debug">
      <div class="default-bar active-user d-flex align-items-center ">
        <div
          class="img-frame"
          >
          <img :src="contacts[counter].avatar" :alt="contacts[counter].avatar">
        </div>
        <div class="user-info d-flex justify-content-between align-items-center  ms-3 debug">
          <div class="name"
          >{{contacts[counter].name}}</div>
          <div class="buttons"
          >
            <span class="ms-2"><i class="fa-solid fa-magnifying-glass"></i></span>
            <span class="ms-2"><i class="fa-solid fa-paperclip"></i></span>
            <span class="ms-2"><i class="fa-solid fa-ellipsis-vertical"></i></span>
          </div>
        </div>
      </div>
      <div class="messages-container">
        <div
          
          v-for="message in contacts[counter].messages"
          class="row my-1  p-3 debug" 
          :class="printMessages(message)"
          >
          <div class="col-7 debug">
            <div class="message d-flex justify-content-between  debug">
              <div class="text">{{message.message}}</div>
              <div class="message-info d-flex flex-column-reverse  justify-content-between align-items-end ">
                <div class="date">
                  12,00
                </div>
                <div class="buttons">
                  <i class="fa-solid fa-chevron-down"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="default-bar message-actions d-flex justify-content-between align-items-center ">
        <div class="emoji buttons text-center  debug"><i class="fa-regular fa-face-smile"></i></div>
        <input type="text" placeholder="Scrivi un nuovo messaggio" class="new-message form-control ">
        <div class="vocal buttons text-center  debug"><i class="fa-solid fa-microphone"></i></div>
      </div>
    </div>
  </div>
  <script src="js/app.js"></script>
</body>
</html>